.avg-temp {
  font-size: 35px;
  font-weight: 600;
  color: #4c4c4c;
  margin: 0;
}

.weather-state {
  font-size: 18px;
  color: #5b5b5b;
  font-weight: 500;
}

.min-max-temp {
  padding: 0 20px;
}

.ant-modal-header {
    padding-top: 30px;
    border: none;
}

.ant-modal-title {
  font-size: 22px;
}
